{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}
       <h1>hello admin</h1>


    {% elseif app.user %}

       <p>You are logged in as {{ app.user.userIdentifier }}</p>
        <p>Can't do anything here as you are not an admin.</p>


    {% else %}

    {% endif %}

{% endblock %}
