{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}

    <h1>Payment methods</h1>
    <p>lala</p>

    <a href="{{ path('order_save') }}">finish order</a>
{% endblock %}
